/*
AboutMe screen
*/

.meImg {
	width:200px;
	height:200px;
	border-radius: 50%;
}

$ImgPosition: 20%;

@media screen and (min-width: 680px) {
	.mainPage-col {
	  float: left;
	  margin-bottom: $spacing-unit / 2;
	  padding-left: $spacing-unit / 2;
	}

	.mainPage-col-1 {
	  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
	  width:         calc(30% - (#{$spacing-unit} / 2));
	}

	.mainPage-col-2 {
	  width: -webkit-calc(70% - (#{$spacing-unit} / 2));
	  width:         calc(70% - (#{$spacing-unit} / 2));
	}
	
	.meImg {
		position: absolute;
		top: $ImgPosition;
		transform: translate(0, $ImgPosition) 
	}

}

/*
Lang Config
*/
.en:lang(en), .pt-br:lang(pt-br){
	font-weight: bold;
	color: black;
}

